= link_to "", event_path(@event.next), :class => "icon-before next", :data => {"icon" => '>'} unless @event == Event.last
= link_to "", event_path(@event.prev), :class => "icon-before prev", :data => {"icon" => '<'} unless @event == Event.first

